

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    align-items: flex-start;
}

.options div {
    display: flex;
    align-items: center;
    gap: 10px;
}






