
.input-group-parent {
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
    align-self: flex-start;
    width: 100%;
    margin-top: 5rem;
}



.input-group-right {
    flex: 1;
}



@media (max-width: 1440px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    body {
        font-size: 11px;
    }
}
