

.terms {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid var(--border);
    padding: 10px;
    margin: 20px 0;
    background: var(--card);
    border-radius: var(--radius);
}






