.input-group {
    text-align: center;
    margin-bottom: 0.3125rem;
}






@media (max-width: 1440px) {
    .input-group {
        margin-bottom: 0.3rem;
    }
}

@media (max-width: 1024px) {
    .input-group {
        margin-bottom: 0.2875rem;
    }
}

@media (max-width: 768px) {
    .input-group {
        margin-bottom: 0.275rem;
    }
}

@media (max-width: 480px) {
    .input-group {
        margin-bottom: 0.2625rem;
    }
}

@media (max-width: 375px) {
    .input-group {
        margin-bottom: 0.25rem;
    }
}
