

.math-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    justify-content: center;
    margin-bottom: 5px;
}

.math-button {
    width: 120px;
    height: 60px;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
}






