

.input-group-parent {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    align-self: flex-start;
    width: 100%;
}

.input-group-left {
    width: 150px;
}

.input-group-right {
    flex: 1;
}

.label-left {
    font-size: 14px !important;
    color: #333;
    font-weight: normal !important;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    margin-top: 30px !important;
}






