.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
    margin-bottom: 0.3125rem;
}

.buttons button {
    padding: 2.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.buttons button:hover {
    transform: scale(1.05);
}


@media (max-width: 1440px) {
    .buttons {
        gap: 0.6rem;
    }
    .buttons button {
        padding: 2.375rem;
    }
}

@media (max-width: 1024px) {
    .buttons {
        gap: 0.575rem;
    }
    .buttons button {
        padding: 2.25rem;
    }
}

@media (max-width: 768px) {
    .buttons {
        grid-template-columns: 1fr;
        gap: 0.55rem;
    }
    .buttons button {
        padding: 2rem;
    }
}

@media (max-width: 480px) {
    .buttons button {
        padding: 1.75rem;
    }
}

@media (max-width: 375px) {
    .buttons button {
        padding: 1.5rem;
    }
}
