

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 5px;
}

.buttons button {
    padding: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.buttons button:hover {
    transform: scale(1.05);
}






