

.button-enabled button {
    background-color: #24A0ED;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

.emoji {
    position: absolute;
    font-size: 24px;
    animation: fly 3s linear;
}
@keyframes fly {
    from {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    to {
        opacity: 0;
        transform: translateY(-100vh) scale(0.5);
    }
}






