

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.hidden {
    opacity: 0;
    transform: scale(0.5);
}

.visible {
    opacity: 1;
    transform: scale(1);
}

#timer {
    font-size: 18px;
    margin-bottom: 5px;
}

#flagsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    transition: all 1s ease-in-out;
}






