

.input-group-parent {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    align-self: flex-start;
    width: 100%;
}

.input-group-left {
    width: 150px;
}

.input-group-right {
    flex: 1;
}

.label-left {
    font-size: 14px !important;
    color: #333;
    font-weight: normal !important;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    margin-top: 30px !important;
}

.date-picker-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.date-picker-wrapper svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    fill: #555;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
        fill: #ff0000;
    }
    25% {
        opacity: 0.5;
        fill: #00ff00;
    }
    50% {
        opacity: 1;
        fill: #0000ff;
    }
    75% {
        opacity: 0.5;
        fill: #ffff00;
    }
}






